@model int

@{
    ViewBag.Title = "Can Not Find Specific Version";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Can not Find Specific Version</h2>
    <p>The specific version of this application can't be found. Would you like to see another version of this app?</p>
    <div>
        @Html.RouteLink("See another version", SiteRouteNames.App_Preview, new { submissionId = Model })
    </div>
    <div>
        @Html.RouteLink("Back", SiteRouteNames.Gallery)
    </div>
</div>