@model int
@{
    ViewBag.Title = "Need App Name and Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Need App Name and Description</h2>
    <p>This app lacks a name and description. If you are the submitter of this app, please go to edit page and add at least the <strong>application name</strong> and <strong>a description in Enlish</strong>.</p>
    <div>
        @Html.RouteLink("Go to edit it now", SiteRouteNames.App_Edit, new { submissionId = Model })
    </div>
    <div>
        @Html.RouteLink("See other apps", SiteRouteNames.Gallery)
    </div>
</div>
