@{
    ViewBag.Title = "Resource Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Invitation not Found</h2>
    <p>You were invited to become an application co-owner but the invitation is no longer active. It was either rescinded or you accepted/declined the invitation previously. The invitation code is: @Model.</p>
    <ul>
        <li><a href="/app/mine">Go to my portal</a></li>
    </ul>
</div>