<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--SIR begins-->
    <section name="AppGalleryRequirements" type="WebGallery.Services.SIR.AppGalleryRequirementsSection" />
    <section name="SqlInfo" type="WebGallery.Services.SIR.SqlInfo" />
    <section name="MySqlInfo" type="WebGallery.Services.SIR.MySqlInfo" />
    <!--SIR ends-->

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!--SIR begins-->
  <!-- 
         If the package is successfully validated and skipInstallation=false, SIR will try to install the application.
         This info will be required to set corresponding database parameters for installation to succeed
    -->
  <SqlInfo adminUsername="sa" adminPassword="SqlPasswordForInstallationStep" server=".\SQLExpress" />
  <MySqlInfo adminUsername="root" adminPassword="MySqlPasswordForInstallationStep" server="localhost" />
  <AppGalleryRequirements>
    <RequiredProviders>
      <add name="iisapp" />
      <add name="setacl" />
    </RequiredProviders>
    <OptionalProviders>
      <add name="DbFullSql" />
      <add name="DbMySql" />
    </OptionalProviders>
    <CustomValidParamTags>
      <add name="MyValidTag" />
    </CustomValidParamTags>
  </AppGalleryRequirements>
  <!--SIR ends-->

  <connectionStrings>
    <!-- Store the connectionString at Azure, plese follow these steps:
       1.Open the app service on Azure.
       2.SETTINGS -> Application settings -> Connection strings
       3. add an item and set the name be the same with the key name below ("WebGalleryDbContext")
       4. For Sql connectionString, please set the type be "SQL Database",
          for EntityFramework connectionString, please set the type be "Custom" and replace the &quot; to " in connectionString,
          if the checkbox "Slot setting" has been checked, swapping operation will also swap the variable.
     -->
    <add name="WebGalleryDbContext" connectionString="This is stored at Azure app setting." providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--SIR begins-->
    <!-- Location, to which the app pool identity of the app has permissions to, where zip packages will be unzipped -->
    <add key="unzippedFolderLocation" value="SIR\temp" />
    <!--    
          For installation & commmand line generation. If the package has more than 1 database, configure a database of your choice.
          Valid DbChoice:
            SQL,
            MySQL,
            Both,
            None
       -->
    <add key="dbType" value="sql" />
    <!--SIR ends-->

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Authentication, specified by Azure Web App Application Settings-->
    <add key="ida:ClientId" value="" />
    <add key="ida:RedirectUri" value="" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/common/v2.0" />

    <!-- Store this key at Azure, plese follow these steps:
       1.Open the app service on Azure.
       2.SETTINGS -> Application settings -> App settings
       3.Add an item and set the name be the same with the key name below ("AzureStorageConnectionString").
         If the checkbox "Slot setting" has been checked, swapping operation will also swap the variable.
     -->
    <add key="AzureStorageConnectionString" value="This is stored at Azure app setting." />
    <add key="EnableSubmitApp" value="true" />
    <add key="Message:From" value="appgal@microsoft.com|Web Application Gallery team" />
    <!--SendGrid API Key, specified by Azure Web App Application Settings-->
    <add key="SendGrid:ApiKey" value="" />
    <add key="AppsFeedPath" value="Feed/WebApplicationList.xml" />
    <add key="WebPI2.0Link" value="http://www.microsoft.com/web/webpi/2.0/" />
    <add key="WebPIHandlerLink" value="https://webpihandler.azurewebsites.net/webpi.ashx" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="On" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="WebGallery.Extensions" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Errors/404" />
    </httpErrors>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>