@{
    ViewBag.Title = "Resource Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Invitation not Found</h2>
    <p>@Resources.InvitationDetail.OwnershipRequestProblemExplanation @Model.</p>
    <ul>
        <li>@Html.RouteLink("Go to my portal", SiteRouteNames.Portal)</li>
    </ul>
</div>