@model WebGallery.ViewModels.HomeAgreementViewModel

@{
    ViewBag.Title = "Agreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Submission Agreement</h2>
    <h3>Microsoft Web Application Gallery</h3>
    <p>
        You are submitting a request that we link to a certain application package ("Application"), described at the link you provide, in the Microsoft Web Application Gallery (the "Services"). This is an agreement between you and Microsoft relating to your submission of that link for the Services.
    </p>
    <ol>
        <li><p>Use of Services. You may access and use the Services only in accordance with the terms and conditions of this agreement and the <a href="http://www.microsoft.com/info/cpyright.mspx" target="_blank">Microsoft Terms of Use</a>. To maintain the collaborative spirit of the Services, we also ask that you follow the Microsoft <a href="http://learn.iis.net/page.aspx/605/windows-web-application-gallery-principles/" target="_blank">Web Application Gallery Principles</a> - in designing and providing the Web Application Gallery integration for your Application. These documents may be updated from time to time, so please review them regularly. </p></li>
        <li>
            <p>Submission of Your Application Link. If the Application link is added, Microsoft may provide users with a feed, link, or similar mechanism that will enable end users to select, download, and install the Application from the link you provide. In connection with this linking, the following terms apply: </p>
            <ol class="lower-alpha">
                <li><p>No License to Microsoft. You are not providing the Application to Microsoft, and Microsoft is not hosting, distributing, propagating or conveying the Application. As a result, you and Microsoft agree that Microsoft does not need any license, is not taking any license, and is not subject to any license that may govern the Application, or any other terms or conditions not provided herein. </p></li>
                <li><p>No Cost. The Application you link to must be offered free of charge and for an unlimited term to end users of the Services. If you run a business based on the Application for which links are provided, you may charge for professional support or consulting services or provide an enhanced version of the Application for purchase. </p></li>
                <li><p>Relationship with End Users. The relationship of any licensor of the Application with any user of the Services who accesses or downloads the Applications is between that licensor and that user and not with Microsoft. </p></li>
                <li><p>Responsibility for Application. Microsoft does not bear responsibility for the development, operation and maintenance of the Application to which you link. </p></li>
                <li><p>Maintaining Links. You agree to use best efforts to maintain the link to the Application that you provided to Microsoft. The link should provide access to a current, stable version of the Application with Web Application Gallery integration. Microsoft may use the links submitted through the Services or through any other products or services (including those owned and controlled by third parties) in Microsoft’s sole discretion. </p></li>
                <li><p>Placement or Removal of Application Links. Microsoft may refuse to include the link to the Application in the Services for any reason. Microsoft may suspend or remove such links at any time and for any reason, such as to avoid liability to any third party or governmental entity for the infringement of any right or the violation of any law. You may also remove the link from the Services. </p></li>
            </ol>
        </li>
        <li>
            <p>Proprietary Rights. </p>
            <ol>
                <li><p>Reservation of Rights; No Other License. Microsoft reserves all other rights not expressly granted in this agreement. No additional rights (including implied licenses, rights or covenants) are granted by implication, estoppel or otherwise. </p></li>
                <li><p>No Claims of Ownership by Microsoft. Microsoft claims no ownership or control over, and does not endorse or guarantee, the Applications that you provide links to for the Services. Microsoft is not responsible for protecting any rights you may have in the Applications. You may remove any link which you submit to the Services at any time and at your sole discretion. Microsoft will not pay you for the inclusion of your links in the Service. </p></li>

            </ol>
        </li>
        <li>
            <p>Restrictions. You agree that, to the best of your knowledge, the Application for which you provide a link does not: </p>
            <ul>
                <li><p>Include any inappropriate, profane, defamatory, obscene, indecent or unlawful topic, name, material or information. </p></li>
                <li><p>Contain images, photographs, software or other material protected by intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or by rights of privacy or publicity) unless you own or control the rights thereto or have received all necessary consent to do the same. </p></li>
                <li><p>Contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any other similar software or programs that may damage the operation of another's computer or property of another. </p></li>
                <li><p>Falsify or delete any copyright management information, such as author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in the Applications. </p></li>
                <li><p>Infringe any intellectual property rights of any third party. </p></li>
            </ul>
        </li>
        <li><p>Privacy. When you submit the Application link, Microsoft may ask you for information about you. Microsoft will use and protect that information pursuant to its Privacy Statement, the current version of which is available at http://privacy.microsoft.com/en-us/default.mspx. </p></li>
        <li><p>NO WARRANTY. MICROSOFT PROVIDES THE SERVICES AND ASSOCIATED PRODUCTS AND SERVICES "AS-IS," "WITH ALL FAULTS" AND "AS AVAILABLE," AND WITH NO ASSURANCES AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY, AND EFFORT. MICROSOFT MAKES NO REPRESENTATIONS OR WARRANTIES WITH RESPECT TO THE SERVICES OR ASSOCIATED PRODUCTS OR SERVICES. EXCEPT TO THE EXTENT PROHIBITED BY APPLICABLE LAW, MICROSOFT DISCLAIMS ANY AND ALL REPRESENTATIONS OR WARRANTIES, EXPRESS, STATUTORY AND IMPLIED; INCLUDING WITHOUT LIMITATION: (A) REPRESENTATIONS OR WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, ACCURACY, QUIET ENJOYMENT, AND NON-INFRINGEMENT, (B) REPRESENTATIONS OR WARRANTIES ARISING THROUGH COURSE OF DEALING OR USAGE OF TRADE, AND (C) REPRESENTATIONS OR WARRANTIES THAT THE SERVICES OR ASSOCIATED PRODUCTS OR SERVICES WILL FUNCTION AS DESCRIBED, WILL BE UNINTERRUPTED OR ERROR-FREE, SECURE OR RELIABLE AND ACCURATE. NO ORAL OR WRITTEN STATEMENT MADE TO YOU SHALL CREATE ANY WARRANTY THAT HAS BEEN EXPRESSLY DISCLAIMED IN THIS AGREEMENT. </p></li>
        <li><p>LIABILITY LIMITATION. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL MICROSOFT BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION ANY DIRECT, INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, EXEMPLARY, OR PUNITIVE DAMAGES (INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOST PROFITS, USE, GOODWILL) ARISING OUT OF, BASED ON, OR RESULTING FROM THIS AGREEMENT OR THE SERVICES. </p></li>
        <li><p>Changes to the Submission Agreement. As Microsoft receives feedback from users of the Services from contributors like you, Microsoft may incorporate such feedback into the Services or this submission process. If that requires a material change of this agreement or if Microsoft changes this agreement for any other reason, then Microsoft will post a notice on the Services website regarding the change. If you do not agree to these changes, then you must stop using the Services (such as by removing your Application link) before the change takes place. If you do not stop using the Services, then your use of the Services will continue under the changed agreement. It is your responsibility to check the Services website periodically to ensure that you have read and agree to the most recent version of this agreement. </p></li>
        <li><p>Contracting Party, Choice of Law and Location for Resolving Disputes. The laws of the State of Washington, USA, govern the interpretation of this agreement and apply to claims for breach of it, regardless of conflict of laws principles. All other claims, including claims regarding consumer protection laws, unfair competition laws, and in tort, will be subject to the laws of your state of residence in the United States, or if you live outside the United States, the laws of the country to which Microsoft directs your service. The state or federal courts in King County, Washington, USA will have exclusive jurisdiction and venue for all disputes arising out of or relating to this agreement. </p></li>
        <li><p>Interpreting this Agreement. If a court holds that this agreement cannot be enforced as written, then you and Microsoft will replace that part with terms that most closely match the intent of the part that cannot be enforced. The rest of this agreement will not change. This agreement, including the Microsoft Terms of Use and the Microsoft Web Application Gallery Principles incorporated by reference, is the entire agreement between you and Microsoft regarding your use of the Services. In the event of any conflict between this agreement and the Microsoft Terms of Use or the Microsoft Web Application Gallery Principles, this agreement will govern. It supersedes any prior agreements or statements (whether oral or written) regarding your submission of the Application. </p></li>
    </ol>
</div>

@section Styles {
    @Styles.Render("~/css/home-agreement")
}