
@{
    ViewBag.Title = "Get Started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <table>
        <tr>
            <td>
                <a href="http://learn.iis.net/page.aspx/578/application-packaging-guide-for-the-windows-web-application-gallery/" title="Web Application Packaging Guidelines" onclick="window.open(this.href, '_blank', ''); return false;" onkeypress="window.open(this.href, '_blank', ''); return false;"><img src="/content/images/icon-packaging.png" alt="Packaging" /></a>
            </td>
            <td>
                <h4><a href="http://learn.iis.net/page.aspx/578/application-packaging-guide-for-the-windows-web-application-gallery/" title="Web Application Packaging Guidelines" onclick="window.open(this.href, '_blank', ''); return false;" onkeypress="window.open(this.href, '_blank', ''); return false;">Packaging your web app</a></h4>
                <p>Read our packaging guidelines and learn what you need to do to package your web app for submission.</p>
            </td>
            <td>
                <a href="http://learn.iis.net/page.aspx/605/web-application-gallery-principles/" title="Windows Web App Gallery Principles"><img src="/content/images/icon-requirements.png" alt="Requirements" /></a>
            </td>
            <td>
                <h4><a href="http://learn.iis.net/page.aspx/605/web-application-gallery-principles/" title="Windows Web App Gallery Principles">Requirement and Principles</a></h4>
                <p>Read the Web App Gallery principles and see if your app meets the minimum requirements.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://learn.iis.net/page.aspx/23/building-and-running-aspnet-applications/" title="Best Practice: Running ASP.NET on IIS"><img src="/content/images/icon-iisnet.png" alt="ASP.NET on IIS" /></a>
            </td>
            <td>
                <h4><a href="http://learn.iis.net/page.aspx/23/building-and-running-aspnet-applications/" title="Best Practice: Running ASP.NET on IIS">Best Practice: ASP.NET on IIS</a></h4>
                <p>Learn how to optimize your ASP.NET web application running on IIS.</p>
            </td>
            <td>
                <a href="http://learn.iis.net/page.aspx/24/running-php-applications-on-iis/" title="Best Practice: Running PHP on IIS"><img src="/content/images/icon-iisphp.png" alt="PHP on IIS" /></a>
            </td>
            <td>
                <h4><a href="http://learn.iis.net/page.aspx/24/running-php-applications-on-iis/" title="Best Practice: Running PHP on IIS">Best Practice: PHP on IIS</a></h4>
                <p>Learn how to optimize your PHP web application running on IIS.</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://learn.iis.net/page.aspx/607/integrating-the-web-application-gallery---beta/" title="Control Panel Integration Guide"><img src="/content/images/icon-controlpanel.png" alt="Control Panels" /></a>
            </td>
            <td>
                <h4><a href="http://learn.iis.net/page.aspx/607/integrating-the-web-application-gallery---beta/" title="Control Panel Integration Guide">Integrate with control panels</a></h4>
                <p>Integrate the Windows Web App Gallery into your own control panel and/or web hosting service.</p>
            </td>
            <td>
                <a href="http://forums.iis.net/1159.aspx" title="Developer Support Forum"><img src="~/content/images/icon-supportdev.png" alt="Developer Support Forum" /></a>
            </td>
            <td>
                <h4><a href="http://forums.iis.net/1159.aspx" title="Developer Support Forum">Developer Support Forum</a></h4>
                <p>Connect with the Windows Web App Gallery team and ge help with packaging, submission and more.</p>
            </td>
        </tr>
        <tr>
            <td><a href="http://forums.iis.net/1155.aspx" title="Web Platform Installer Forum"><img src="/content/images/icon-supportcontrol.png" alt="Installer Support Forum" /></a></td>
            <td>
                <h4><a href="http://forums.iis.net/1155.aspx" title="Web Platform Installer Forum">Installer Support Forum</a></h4>

                <p>Connect with the Windows Platform Installer team and get the answers you need directly.</p>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>