@using WebGallery.Security;

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-link">
            @*The 'preferred_username' claim can be used for showing the user's primary way of identifying themselves.*@
            @Html.RouteLink(User.GetName(), SiteRouteNames.Portal)
        </li>
        <li class="navbar-link">
            @Html.RouteLink("Sign out", SiteRouteNames.SignOut)
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-link">@Html.RouteLink("Sign in", SiteRouteNames.SignIn)</li>
    </ul>
}