<div>
    <div class="tab-content">
        @{
            if (Request.UrlReferrer == null)
            {
                @Html.RouteLink("Go Back to Gallery", SiteRouteNames.Gallery)
            }
            else
            {
                <a href="@Request.UrlReferrer">Go Back</a>
            }
        }
        @using (Html.BeginRouteForm(SiteRouteNames.Gallery))
        {
            <input type="image" src="~/content/images/search-btn.jpg" alt="Submit" />
            <input type="text" id="SearchText" name="keyword" placeholder="Search Apps" />
        }
    </div>
</div>