
@{
    ViewBag.Title = "CanNotBePublished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h2>This app can not be published</h2>
    <p>Please ensure that your app has passed the verification before trying to publish it. </p>
    @Html.RouteLink("Go to My Portal", SiteRouteNames.Portal)
</div>

