@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2 class="text-danger">Sorry, an error occurred while processing your request.</h2>
    <h4>Error:</h4>
    <p>@(Model == null || Model.Exception == null ? ViewBag.Error : Model.Exception.Message)</p>
</div>