
@{
    ViewBag.Title = "Modification Locked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Modification Locked</h2>
    <p>This submission is being reviewed and processed by Microsoft Corp. No modifications can be made at this time.</p>
</div>