
@{
    ViewBag.Title = "Need Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Need Permission</h2>
    <p>Sorry, you are not authorized to edit the requested Application or Product data.</p>
</div>