@model int
@{
    ViewBag.Title = "The Requested App Need Significant Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>The Requested App lacks essential information</h2>
    <p>We are sorry that this app lacks essential information. If you are the submitter of this App, please go to edit page and add at least the <strong>application name</strong> and <strong>a description in Enlish</strong>.</p>
    <div>
        @Html.ActionLink("I am the submitter and I want to edit it now", "Edit", new { id = Model })
    </div>
    <div class="clearing">
        @Html.ActionLink("Not for Now", "Categorize")
    </div>
</div>
