
@{
    ViewBag.Title = "Resource Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Resource not Found</h2>
    <p>The resource you're requesting doesn't exist. Please check if the URL is correct.</p>
</div>