
@{
    ViewBag.Title = "Submitting Disabled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>App Submitting Disabled</h2>
    <p>Submitting an app is currently disabled for site maintenance. Will be enabled soon. Please try this later. Sorry for the inconvenience.</p>
</div>