
@{
    ViewBag.Title = "Upgrade IE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Upgrade Your Internet Explorer</h2>
    <p>
        @Html.Raw(Resources.Submit.UpgradeIE)
    </p>
</div>