<h1>Submit Web App</h1>
<div id="submitIntroWrapper" class="introduction">
    <p>
        Thank you for your interest in the Web App Gallery. In order to list your application
        in the Gallery, we need to collect information about your application which will
        be used in the Web App Gallery and the Web Platform Installer. We also need your
        contact information so that Microsoft or our vendors may contact you during the
        review of your submission.
    </p>
    <p>
        BEFORE SUBMITTING YOUR APPLICATION:
    </p>
    <ol>
        <li>
            Please review the
            <a href="http://learn.iis.net/page.aspx/605/windows-web-application-gallery-principles/" title="App Gallery Principles" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">App Gallery Principles</a>
            to ensure that your submittion is compliant with the purposes of the Web App Gallery.
        </li>
        <li>
            Test your installation package using the
            <a href="http://blogs.iis.net/kateroh/archive/2010/01/25/sniffer-installer-reporter-sir-for-application-gallery.aspx" title="App Gallery SIR Tool">App Gallery SIR Tool</a>.
        </li>
        <li>
            <a href="http://learn.iis.net/page.aspx/789/testing-a-web-application-zip-package-for-inclusion-with-the-web-application-gallery/" title="See how your application will look in the Web Platform Installer">See how your application will look</a>
            in the Web Platform Installer.
        </li>
    </ol>
</div>