@model WebGallery.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h4> Welcome  @ViewBag.Username   !</h4>

    @ViewBag.UserID

    @Html.ActionLink("View all apps", "Dashboard")


}



