@using WebGallery.Security;

<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.RouteLink(User.GetName(), SiteRouteNames.Portal, null, new { title = User.GetEmailAddress() })
        </li>
        <li>
            @Html.RouteLink("Sign out", SiteRouteNames.SignOut)
        </li>
    }
    else
    {
        <li>@Html.RouteLink("Sign in", SiteRouteNames.SignIn)</li>
    }
</ul>