
@{
    ViewBag.Title = "Modification Locked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Modification Locked</h2>
    <p>@Resources.AppSubmit.SubmissionCannotBeModified</p>
</div>