.panel-search-header {
    margin-top: 20px;
}

    .panel-search-header h1 {
        font-size: 26px;
        margin: 0px;
        float: left;
    }

    .panel-search-header input {
        height: 28px;
        vertical-align: middle;
    }

        .panel-search-header input[type=text] {
            width: 300px;
            margin-left: 50px;
        }

        .panel-search-header input[type=image] {
            width: 28px;
        }

    .panel-search-header div:last-of-type {
        margin-top: 20px;
    }

    .panel-search-header select {
        margin: 0px 50px 0px 5px;
    }

.panel-logo {
    width: 65px;
    height: 65px;
    margin: 5px 10px 0px 0px;
    float: left;
}

    .panel-logo img {
        max-height: 65px;
        max-width: 65px;
    }

.app-title {
    font-size: 20px;
}

.version {
    font-size: 18px;
    margin-right: 10px;
}

.release-date {
    font-size: 12px;
}

.version,
.release-date {
    color: grey;
}

.panel-pager {
    margin-top: 30px;
    text-align: center;
}

    .panel-pager a {
        margin: 10px;
        font-size: 18px;
    }

    .panel-pager .link-disabled {
        color: grey;
    }

        .panel-pager .link-disabled:hover {
            text-decoration: none;
            color: gray;
        }
