.header {
    margin-bottom: 0px;
}

    .header div {
        clear: both;
        margin-left: 70px;
    }

    .header h2 {
        float: left;
    }

    .header select {
        float: left;
        margin-top: 18px;
        margin-left: 15px;
    }

    .header p {
        float: left;
        font-size: 15px;
        color: gray;
        margin: 16px 0 0px 35px;
    }

.title {
    font-size: 28px;
    padding-left: 70px;
}

.search-icon,
.search-box {
    height: 32px;
    margin-top: 5px;
}

.search-box {
    margin-left: 50px;
    width: 400px;
    font-size: 20px;
}

.app-title {
    font-size: 20px;
}

.version,
.release-date {
    color: grey;
}

.version {
    font-size: 18px;
    padding-right: 10px;
}

.release-date {
    font-size: 12px;
}

.icon-block {
    width: 65px;
    height: 65px;
    margin: 5px 10px 0 0;
}

.small-icon {
    max-height: 65px;
    max-width: 65px;
}

.search-icon {
    margin-left: 5px;
}

.link-disabled {
    color: grey;
}

.pre-page,
.next-page {
    font-size: 20px;
    padding: 7px;
}

.page-switch {
    text-align: center;
}

.link-disabled:hover {
    text-decoration: none;
    color: gray;
}