h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

p, select, input, textarea, label, table,
.font-size-095em  {
    font-size: 0.95em;
}

.font-size-085em {
    font-size: 0.85em;
}

h1, h2,
.font-weight-700  {
    font-weight: 700;
}

.font-weight-400 {
    font-weight: 400;
}

p, select, input, textarea, label, caption {
    color: #4b4b4b;
}


.clearing {
    clear: both;
}

/*----------*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #BBBBBB;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #BBBBBB;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #BBBBBB;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BBBBBB;
}
